<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager - Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <!-- Header -->
    <header class="bg-dark text-white py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="h3">ÁLBUM UM</h1>


            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link text-white" href="/Alb_Um/portal/manager/inicio">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/Alb_Um/portal/manager/usuarios">Usuarios</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/Alb_Um/portal/manager/listar-actividades">Actividad Física</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/Alb_Um/logout">Cerrar Sesión</a></li>                    
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenido, <span th:text="${manager.nombre}">Nombre Manager</span></h1>

        <!-- Información del Manager -->
        <div class="manager-info mb-5">
            <h2>Información del Manager Prueba</h2>
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <img src="../static/images/manager-photo.jpg" alt="Foto del manager" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8">
                    <p><strong>Nombre:</strong> <span th:text="${manager.nombre}"></span> <span th:text="${manager.apellido}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${manager.email}"></span></p>
                    <p><strong>Fecha de Ingreso:</strong> <span th:text="${manager.fechaIngreso}"></span></p>
                </div>
            </div>
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN6jIeHz"
            crossorigin="anonymous"></script>
</body>
</html>
