<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Resultado de la Asistencia</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Resultado de la Asistencia</h1>

        <!-- Mostrar el mensaje de éxito o error -->
        <div th:if="${mensaje}" class="alert alert-success">
            <p th:text="${mensaje}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <!-- Botón para regresar -->
        <a href="/portal/inicio" class="btn btn-primary">Volver a la vista general del admin</a>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></script>
</body>
</html>
